<%= link_to 'Home', root_path %>
<div>
  Books, online courses and style guides that have become an integral part of my learning path and continue to inspire for further improvement
</div>
<div>Books</div>
<div>
  <% latest_added_books(5).each do |book| %>
    <div>
      <a href="<%= book.link %>"><%= book.title %></a> by <%= book.author %>, <%= book.year %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to 'Full list', books_path %>
</div>
