<section class='stack'>
  <p class='subheading'><%= t '.stack' %></p>
  <ul class='base-ul'>
    <li><%= t '.front_end' %>:
      HTML (HAML, Slim), CSS (SASS), JavaScript
    </li>
    <li><%= t '.back_end' %>:
      Ruby, Ruby on Rails, RSpec (<%= t '.testing_library'%>)
    </li>
    <li><%= t '.database' %>: PostgreSQL</li>
  </ul>
</section>