<section>
  <header class='welcome'><%= t '.welcome' %></header>
  <p><%= t '.about_me' %></p>
  <%= render 'stack' %>
</section>

<section class='learning'>
  <section class='books'>
    <%= render 'books_in_process' %>
    <%= render 'books_completed' %>
  </section>
  <section class='courses'>
    <%= render 'courses' %>
  </section>
</section>