<div class='small'>
  <ul class='base-ul'>
    <li class='edge'><%= t '.publisher' %>: <%= book.publisher %></li>
    <li class='edge'><%= t '.pages' %>: <%= book.pages %></li>
    <% if book.project_repo.present? %>
      <li class='edge'>
        <%= t '.project' %>: <%= link_to 'GitHub', book.project_repo,
          target: :_blank %>
      </li>
    <% end %>
  </ul>
</div>