<div>
  <a href="<%= book.link %>"><%= book.title %></a>
</div>
<div>
  <%= book.subtitle %>
</div>
<div>
  <%= book.author %>
</div>
<div>
  <%= book.publisher %>, <%= book.year %>
</div>
<div>
  Pages: <%= book.pages %>
</div>
<div>
  ISBN: <%= book.isbn %>
</div>