<% if signed_in? %>
  <div class='action'>
    <%= link_to 'Add a book', new_book_path %>
  </div>
<% end %>

<div class='subheading'><%= t '.books_in_process' %>:</div>
<section>
  <%= render 'books', books: books_in_process %>
</section>

<div class='subheading'><%= t '.books_completed' %>:</div>
<section>
  <%= render 'books', books: books_completed %>
</section>

<%= render 'nav_home' %>