<div class='book-title'>
  <%= link_to @book.title, @book.link, target: :_blank %>
</div>
<div>
  <%= @book.subtitle %>
</div>
<div>
  by <%= @book.author %>
</div>
<div>
  <%= @book.publisher %>, <%= @book.year %>
</div>
<div>
  Pages: <%= @book.pages %>
</div>
<div>
  ISBN: <%= @book.isbn %>
</div>
<% if @book.project_repo.present? %>
  <div>
    Project: <%= link_to 'GitHub', @book.project_repo, target: :_blank %>
  </div>
<% end %>

<div>
  <%= link_to 'Add a note', new_book_note_path(@book) %>
</div>

<%= render 'notes', resource: @book %>

<div>
  <%= link_to 'Edit', edit_book_path(@book), class: 'button-primary' %>
  <%= link_to 'Remove', @book, method: :delete, class: 'button-remove',
     data: { confirm: 'This action will remove all associated notes. Are you sure you want to delete this book?' } %>
</div>
<div class='nav-link-wrapper'>
  <%= link_to 'Books list', books_path, class: 'nav-link' %>
</div>
