<%= form_for course do |f| %>
  <% if course.errors.any? %>
    <div>
      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>
  <div>
    <%= f.label :link %>
    <%= f.url_field :link, required: true %>
  </div>
  <div>
    <%= f.label :platform %>
    <%= f.text_field :platform, required: true %>
  </div>
  <div>
    <%= f.submit %>
    <%= link_to 'Cancel', courses_path, class: 'button-primary' %>
  </div>
<% end %>