<div>
  <% if signed_in? %>
    <%= link_to 'Add a course', new_course_path %>
  <% end %>
</div>
<% @courses.each do |course| %>
  <table>
    <tr>
      <td>
        <a href="<%= course.link %>"><%= course.title %></a> | <%= course.platform %>
        <% if signed_in? %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Remove', course, method: :delete %></td>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
<div>
  <%= link_to 'Learning page', learning_path %>
</div>