<div>
  <%= link_to @course.title, @course.link, target: :_blank %> |
  <%= @course.platform %>
</div>
<div>
  <%= link_to 'Edit', edit_course_path(@course), class: 'button-primary' %>
  <%= link_to 'Remove', @course, method: :delete, class: 'button-remove' %>
</div>
<div class="nav-link-wrapper">
  <%= link_to 'Back', courses_path, class: 'nav-link' %>
</div>