<!DOCTYPE html>
<html>
  <head>
    <title>Hi, I'm Alexander</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag(
        'application',
        'data-turbolinks-track': 'reload'
    ) %>
  </head>
  
  <body>
    <main>
      <% if signed_in? %>
        <%= link_to 'Sign out', sign_out_path, method: :delete, class: 'sign-out' %>
      <% else %>
        <div class='locale-switcher'>
          <%= link_to (t '.russian'), url_for(locale: 'ru') %> |
          <%= link_to (t '.english'), url_for(locale: 'en') %>
        </div>      
      <% end %>
      
      <% if flash.present? %>
        <% flash.each do |key, value| -%>
          <div class='flash-<%= key %>'><%=h value %></div>
        <% end %>
      <% end %>
      
      <%= yield %>
    </main>
    <%= render 'footer' %>
  </body>
</html>
